@import "core/var";

.raffle_media {
    .raffle_media_add {
        line-height: 33px;
        margin-top: 30px;
        margin-left: auto;
    }

    .raffle_img_item {
        img {
            width: 200px;
            height: 150px;
            object-fit: contain;
        }
    }
}